.control-buttons-bottom {
  display: flex;
  justify-content: center;
  gap: 10px;
  pointer-events: auto;
  position: absolute;
  width: 100%;
  bottom: 25%;
}

@media (max-width: 768px) {
  .control-buttons-bottom .button-label {
    display: none;
  }
}

.button-label {
  margin-left: 5px;
}

button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  background-color: #f5f5f5;
  transition: background-color 0.3s;
}

@media (max-width: 768px) {
  button {
    padding: 3px 6px;
  }
}

button:hover {
  background-color: #b5b5b5;
}

button.toggled {
  background-color: #3498db;
  color: white;
}

button.toggled:hover {
  background-color: #2980b9;
}
