.info-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #3498db;
  color: #ffffff;
  border: none;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 999;
}

.info-button:hover {
  background-color: #2980b9;
}

.dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.dialog-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}

.close-button {
  margin-top: 10px;
  margin-left: auto; /* ボタンを右端に移動 */
  display: block; /* ボタンをブロック要素として表示 */
}
