/* Volume Control */
.volume-control {
  justify-content: center;
  position: relative;
}

.volume-slider {
  position: absolute;
  bottom: 4em;
  width: 20px;
  z-index: 1;
}

.volume-slider input[type="range"] {
  cursor: pointer;
  width: 100px;
  height: 20px;
  overflow: hidden;
  transform: rotate(-90deg) translateX(-50%);
  transform-origin: top left;
}
